* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, .05);
}

div {
  margin: 24px;
}

fieldset {
  background-color: #fff;
  border-radius: 10px;
}

div label {
  vertical-align: middle;
}

form {
  width: 70%;
  margin: 0 auto;
}

input[type="radio"],
input[type="checkbox"],
button {
  cursor: pointer;
}

button {
  padding: 0 18px;
  background-color: rgba(0, 0, 0, .8);
  border: none;
  border-radius: 4px;
  color: #fff;
}

.form-control button {
  padding: 8px 24px;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
}

button:hover {
  margin: -2px;
  border: 2px solid rgba(0, 0, 0, .8);
  background-color: transparent;
  color: #000;
  outline: none;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.flex-container>label {
  width: 20%;
  vertical-align: middle;
}

.flex-container>input[type="text"],
.flex-container>textarea {
  width: 50%;
}

.helper {
  margin-left: 10px;
  color: #f00;
  font-size: 12px;
  display: none;
}

textarea {
  resize: none;
}

.form-control {
  text-align: center;
}

table, th, td {
  margin: 0 auto;
  padding: 6px 24px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

input[type=radio] {
  margin: 3px 12px 3px 24px;
}

input[type=radio]:first-of-type {
  margin-left: 0;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul li {
  width: 20%;
  display: inline-block;
  border: 1px solid #000;
  padding: 8px 24px;
  border-right: none;
}

ul li:last-of-type {
  border-right: 1px solid #000;
}

.heading {
  margin: 0;
  font-weight: 600;
}

#data {
  margin: 0;
}